@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 text-waterkloof-dark;
}

.section {
  @apply py-12 md:py-16;
}

.container {
  @apply max-w-6xl mx-auto px-4;
}
